.web-performance-data-cont {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.form-layout {
  display: flex;
  justify-content: space-between;
}

.form-layout > div {
  width: 100%;
}

.action-panel {
  margin-bottom: 20px;
}